<title>{{title}}</title>
<div class="mt-5 space-y-1 flex items-center gap-5">

    <div>
        <span class="material-symbols-outlined leading-none text-gray-700 bg-gray-300 p-3 rounded-xl"
            style="font-size: 1.8rem;">
            settings
        </span>
    </div>

    <div>
        <p class="text-3xl font-semibold capitalize">Settings</p>
        <p class="text-gray-600 mt-2">Manage app settings</p>
    </div>
</div>
<p class="text-3xl mt-5 font-semibold capitalize"></p>
<p class="text-gray-600 mb-5"></p>
<div class="text-2xl font-semibold">Temple</div>
<p class="text-gray-600 mb-3"></p>

<div role="alert" class="my-3 relative flex w-full p-3 text-sm text-slate-600 rounded-md bg-slate-100">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
        class="h-5 w-5 mr-2">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z">
        </path>
    </svg>
    You can only have one active temple
</div>


<div class="flex flex-col items-center gap-5">


    <div id="temple-cards" class="flex flex-wrap gap-2 w-full">

        {{#if temple}}

        {{#each temple}}
        <div id="content" class="bg-white capitalize w-full p-5 rounded-xl">
            <p class="text-2xl font-semibold">{{this.name}}</p>
            <div class="flex gap-2 text-sm mt-2">
                <p class="flex gap-1"><span class="material-symbols-outlined">location_on</span>{{this.city}},
                    {{this.district}},
                    {{this.state}}
                </p>
                {{#if this.branch}}
                <p class=" mx-2">Branch: {{this.branch}}</p>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>No temples found</p>
    {{/if}}
</div>